.portfolio {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.portfolio .moi-container {
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img.moi {
        position: absolute;
        width: 18vw;

        filter: grayscale(var(--grayscale));
    }

    .detect {
        z-index: 5;
        left: 3vw;
        position: relative;
        width: 12vw;
        height: 37vw;

        --photo-scale: 1;
    }

    .detect:hover {
        cursor: pointer;
        --photo-scale: 1.1;
    }

    h1 {
        font-size: 2vw;
        top: 15vw;
        left: 2vw;
        font-family: poppins;
        font-weight: 900;
        color: #C90707;
        mix-blend-mode: multiply;
        position: relative;
        user-select: none;
        transform: scale(var(--photo-scale));
    }
}